<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <section>
    <div class="main-container">
<!-- ----------------code of vertical div----------------- -->
        <div class="vertical container">
            <!-- logo -->
            <div class="logo">
                <img class="logo-image" src="../images/weather_logo-photoaidcom-cropped (1).png" alt="" srcset="">
                <h1>Weather App</h1>
            </div>

            <hr>

            <!-- input -->
            <div class="input">
                <form action="/submit" method="post">
                    <input type="text" name="city" class="first" placeholder="City" required>
                    <input type="text" name="country_code" class="second" placeholder="code" required>
                    <button type="submit" value="submit">Submit</button>
                </form>
            </div>
            <!-- icon & temperature -->
            <% if (locals.temp) { %>        
            <div class="weather-icon"> 
                    
                    <p class="temperature"> <%= temp %> </p>

                    <img src="https://openweather.site/img/wn/<%= image %>.png" alt="weather-icon">
                    </div>
                    <% } else { %>
                    <div class="weather-icon"> 
                    <p class="temperature">  ---- </p>
                    </div>
                      <% } %>
             <hr>

            <!-- city -->
                
            <div class="city">
                <% if (locals.city_ && locals.code) { %>     
                <%= city_ %> , <%= code %>
                <% } else { %>
                ---------- , ---
                <% } %>
            </div>
        </div>
<!-- ----------------code of horizontal div----------------- -->
        <div class="horizontal container">
            <h1>Today's Highlight</h1>
            <p> 
                <% if (locals.weth_message) { %> 
                    <%= weth_message %>    
                <% } else { %> 
                    --------
                <% } %>
            </p>
        </div>
<!-- ------- code for humidity ------- -->       
        <div class="small container">
            <p class="title">Humidity</p>
            <p class="value">
                <% if (locals.humid) { %> 
                    <%= humid %><h1>%</h1> 
                <% } else { %> 
                    --------
                <% } %>
            </p>
            <p class="description">normal</p>
        </div>
<!-- ------- code for Sunrise & Sunset ------- -->   
        <div class="small container">
            <p class="title">Sunrise & Sunset</p>
            <p class="value">5.2</p>
            <p class="description">normal</p>
        </div>
<!-- ------- code for Wind Speed ------- -->          
        <div class="small container">
            <p class="title">Wind Speed</p>
            <p class="value">
                <% if (locals.wind) { %> 
                    <%= wind %><h1>m/sec</h1>    
                <% } else { %> 
                    --------
                <% } %>
            </p>
            <p class="description">normal</p>
        </div>
<!-- ------- code for visibility ------- -->   
        <div class="small container">
            <p class="title">Visibility</p>
            <p class="value">
                <p class="title">
                    <% if (locals.vission) { %> 
                        <%= vission %><h1>m</h1>    
                    <% } else { %> 
                        --------
                    <% } %>
                </p>
            </p>
            <p class="description">normal</p>
        </div>

    </div>
    </section>
    <!-- -->
    <script src="index.js"></script>
</body>
</html>