<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <section>
    <div class="main-container">
<!-- ----------------code of vertical div----------------- -->
        <div class="vertical container">
            <!-- logo -->
            <div class="logo">
                <img class="logo-image" src="../images/weather_logo-photoaidcom-cropped (1).png" alt="" srcset="">
                <h1>Weather Web App</h1>
            </div>

            <hr>

            <!-- input -->
            <div class="input">
                <form action="/submit" method="post">
                    <input type="text" name="city" class="first" placeholder="City" required>
                    <input type="text" name="country_code" class="second" placeholder="code" required>
                    <button type="submit" value="submit">Submit</button>
                    <p>[ Enter the city name with the country code .]</p>
                </form>
            </div>
            <!-- icon & temperature -->
            <% if (locals.temp) { %>        
            <div class="weather-icon"> 
                    
                    <p class="temperature"> <%= temp %> &#176 F</p>

                    <img src="https://openweather.site/img/wn/<%= image %>.png" alt="weather-icon">
                    </div>
                    <% } else { %>
                    <div class="weather-icon"> 
                    <p class="temperature">  ---- </p>
                    </div>
                      <% } %>
             <hr>
            <div class="date">
                <h1>
                <% if (locals.today) { %> 
                    <%= today %>    
                <% } else { %> 
                    -----
                <% } %>
            </h1>
            </div>
            <!-- city -->
                
            <div class="city">
                <% if (locals.city_ && locals.code) { %>     
                <%= city_ %> , <%= code %>
                <% } else { %>
                ---------- , ---
                <% } %>
            </div>
        </div>
<!-- ----------------code of horizontal div----------------- -->
        <div class="horizontal container">
            <h1 class="highlight">Today's Highlight</h1>
            <p> 
                <% if (locals.weth_message) { %> 
                    <%= weth_message %>    
                <% } else { %> 
                    --------
                <% } %>
            </p>
        </div>
<!-- ------- code for humidity ------- -->       
        <div class="small container">
            <p class="title">Humidity</p>
            <p class="value">
                <% if (locals.humid) { %> 
                    <%= humid %> %
                <% } else { %> 
                    --------
                <% } %>
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="M580.12-250q20.88 0 35.38-14.62 14.5-14.62 14.5-35.5 0-20.88-14.62-35.38-14.62-14.5-35.5-14.5-20.88 0-35.38 14.62-14.5 14.62-14.5 35.5 0 20.88 14.62 35.38 14.62 14.5 35.5 14.5ZM378-256l246-246-42-42-246 246 42 42Zm2.12-194q20.88 0 35.38-14.62 14.5-14.62 14.5-35.5 0-20.88-14.62-35.38-14.62-14.5-35.5-14.5-20.88 0-35.38 14.62-14.5 14.62-14.5 35.5 0 20.88 14.62 35.38 14.62 14.5 35.5 14.5ZM480-80q-137 0-228.5-94T160-408q0-100 79.5-217.5T480-880q161 137 240.5 254.5T800-408q0 140-91.5 234T480-80Zm0-60q112 0 186-76.5t74-191.82q0-78.68-66.5-179.18T480-800Q353-688 286.5-587.5T220-408.32Q220-293 294-216.5T480-140Zm0-340Z"/></svg>
        </div>
<!-- ------- code for Sunrise & Sunset ------- -->   
        <div class="small container">
            <p class="title">Sunrise & Sunset</p>
            <p class="value">
                <% if (locals.sunr && locals.suns) { %> 
                    <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="M450-770v-150h60v150h-60Zm256 106-42-42 106-107 42 43-106 106Zm64 214v-60h150v60H770ZM450-40v-150h60v150h-60ZM253-665 148-770l42-42 106 106-43 41Zm518 517L664-254l41-41 108 104-42 43ZM40-450v-60h150v60H40Zm151 302-43-42 105-105 22 20 22 21-106 106Zm289-92q-100 0-170-70t-70-170q0-100 70-170t170-70q100 0 170 70t70 170q0 100-70 170t-170 70Zm0-60q75 0 127.5-52.5T660-480q0-75-52.5-127.5T480-660q-75 0-127.5 52.5T300-480q0 75 52.5 127.5T480-300Zm0-180Z"/></svg>
                    <%= sunr %>
                    <br>
                    <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="M484-80q-84 0-157.5-32t-128-86.5Q144-253 112-326.5T80-484q0-146 93-257.5T410-880q-18 98 11 192.63 29 94.64 100 165.74 71 71.1 165.5 100.14Q781-392.45 880-410.47q-26 144.2-138 237.34Q630-80 484-80Zm0-60q100 0 182-57t132-145q-90-8-173-41.5T478.5-480Q415-543 382-625.5T341-797q-88 48-144.5 130.5T140-484q0 143.33 100.33 243.67Q340.67-140 484-140Zm-6-340Z"/></svg>
                    <%= suns %>
                <% } else { %> 
                    --------
                <% } %>
            </p>
        </div>
<!-- ------- code for Wind Speed ------- -->          
        <div class="small container">
            <p class="title">Wind Speed</p>
            <p class="value">
                <% if (locals.wind) { %> 
                    <%= wind %> m/sec  
                <% } else { %> 
                    --------
                <% } %>
            </p>
            <svg class="image" xmlns="http://www.w3.org/2000/svg" height="90px" viewBox="0 -960 960 960" width="90px" fill="#e8eaed"><path d="M465-160q-54 0-85.5-28T348-273h68q0 26 11.5 39.5T465-220q27 0 38.5-12t11.5-41q0-29-11.5-42.5T465-329H80v-60h385q54 0 82 28t28 88q0 57-28 85t-82 28ZM80-568v-60h548q37 0 54-17.5t17-58.5q0-41-17-58.5T628-780q-38 0-55 20.5T556-708h-60q0-58 35-95t97-37q61 0 96 35.5T759-704q0 65-35 100.5T628-568H80Zm672 330v-60q35 0 51.5-19.5T820-374q0-38-18.5-55T748-446H80v-60h668q62 0 97 35t35 97q0 64-33 100t-95 36Z"/></svg>        </div>
<!-- ------- code for visibility ------- -->   
        <div class="small container">
            <p class="title">Visibility</p>
            <p class="value">
                    <% if (locals.vission) { %> 
                        <%= vission %>  m
                    <% } else { %> 
                        --------
                    <% } %>
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="M480.12-330q70.88 0 120.38-49.62t49.5-120.5q0-70.88-49.62-120.38T479.88-670Q409-670 359.5-620.38T310-499.88q0 70.88 49.62 120.38t120.5 49.5Zm-.36-58q-46.76 0-79.26-32.74-32.5-32.73-32.5-79.5 0-46.76 32.74-79.26 32.73-32.5 79.5-32.5 46.76 0 79.26 32.74 32.5 32.73 32.5 79.5 0 46.76-32.74 79.26-32.73 32.5-79.5 32.5Zm.24 188q-146 0-264-83T40-500q58-134 176-217t264-83q146 0 264 83t176 217q-58 134-176 217t-264 83Zm0-300Zm-.17 240Q601-260 702.5-325.5 804-391 857-500q-53-109-154.33-174.5Q601.34-740 480.17-740T257.5-674.5Q156-609 102-500q54 109 155.33 174.5Q358.66-260 479.83-260Z"/></svg>
        </div>

    </div>
    </section>
    <!--  -->
    <script src="index.js"></script>
    
</body>
</html>